<div class="fullPage">
  <app-navbar></app-navbar>
  <div class="container" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <div class="row d-flex justify-content-center" style="margin-bottom: 184px;">
      <div class="col-md-3 me-md-5 mt-5 p-2 card border-2">
        <img src="../../../assets/moneyStacked.jpg">
      </div>
      <div class="col-md-3 me-md-5 mt-5 p-2 card border-2">
        <img src="../../../assets/moneyStacked.jpg">
      </div>
      <div class="col-md-3 me-md-5 mt-5 p-2 card border-2">
        <img src="../../../assets/moneyStacked.jpg">
      </div>
      <div class="col-md-8 mt-5 card border-2" style="background-color: #e3f2fd;">
        <div class="card-title d-flex justify-content-center mt-3">
          <h1>Our Motto</h1>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 mt-md-4 ms-md-1" style="font-size: larger;">
            We aim to always <span style="font-weight: bold;">SERVE</span> our customers to the best of our abilites by following our <span style="font-weight: bold;">SERVE</span> Motto, but what does SERVE stand for? <span style="font-weight: bold;">SERVE</span> means to provide our customers...
          </div>
          <div class="col-md-6">
            <ul>
              <li style="list-style-type: none; font-size: large;"><span style="font-weight: bold; font-size: xx-large;">S</span>ecure bank accounts</li>
              <li style="list-style-type: none; font-size: large;"><span style="font-weight: bold; font-size: xx-large;">E</span>xtensive features</li>
              <li style="list-style-type: none; font-size: large;"><span style="font-weight: bold; font-size: xx-large;">R</span>esponsive customer support</li>
              <li style="list-style-type: none; font-size: large;"><span style="font-weight: bold; font-size: xx-large;">V</span>ariety of account options</li>
              <li style="list-style-type: none; font-size: large;"><span style="font-weight: bold; font-size: xx-large;">E</span>ase of use/access</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer class="mt-5" style="background-color: #e3f2fd; height: 60px;">
      <div class="row">
        <h4 class="col-6" style="margin-top: 16px;">@Copyright Bailey Barton</h4>
        <a class="col-6" style="margin-top: 6px;" target="_blank" href="https://github.com/bkwrdbailey"><img style="width: 50px;" src="../../../assets/github-mark.svg"></a>
      </div>
    </footer>
  </div>
</div>
