<div class="fullPage">
  <app-navbar></app-navbar>

  <div class="container main" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; flex-grow: 1;">

    <!-- User has no accounts -->
    <div class="d-flex justify-content-center" *ngIf="accounts.length == 0">
      <div>
        <h1 class="mt-2">No Accounts</h1>
        <!-- Create a Checking/Saving account -->
        <div class="row">
          <div class="mt-3 col-6">
            <h3>Checking</h3>
            <button class="btn btn-primary">Create New</button>
          </div>
          <div class="mt-3 col-6">
            <h3>Savings</h3>
            <button class="btn btn-primary">Create New</button>
          </div>
        </div>
      </div>
    </div>

    <!-- User has atleast one account -->
    <div style="padding: 20px;" *ngIf="accounts.length > 0">

      <div>
        <button class="btn btn-primary">Deposit</button>
        <button class="btn btn-primary ms-2">Withdraw</button>
      </div>

      <!-- Bank Accounts -->
      <div class="mt-4" style="background-color: #e3f2fd; padding: 10px; border: 2px solid lightgrey; border-radius: 10px;" *ngFor="let account of accounts;">
        <div class="row">
          <div class="col-6">
            <h2>{{account.account_type}}</h2>
            <h5 style="color: grey;">**** **** ({{account.account_num}})</h5>
            <button class="btn btn-primary" (click)="makeATransfer(account)">Transfer</button>
          </div>
          <div class="col-6" style="margin-top: 34px;">
            <h3>Balance: ${{account.total_amount}}</h3>
            <button class="btn btn-primary" (click)="transactionHistory(account.bankaccount_id)">Transactions</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer style="background-color: #e3f2fd; height: 60px;">
    <div class="d-flex justify-content-center">
      <h4 style="margin-top: 16px;">@Copyright Bailey Barton</h4>
      <a class="ms-5" style="margin-top: 6px;;" target="_blank" href="https://github.com/bkwrdbailey"><img style="width: 50px;" src="../../../assets/github-mark.svg"></a>
    </div>
  </footer>
</div>
