<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <h1 class="col-12 d-flex justify-content-center mb-4">No Better Option Banking</h1>
    <div class="row border border-3 rounded-3 bg-light" style="width: 57%;">
      <form class="col-md-6 mb-3 mt-2">
        <h3>Sign Up</h3>
        <div class="mb-2">
          <label for="registerUsername">Username</label>
          <input type="text" class="form-control" placeholder="Username" id="registerUsername">
        </div>
        <div class="mb-2">
          <label for="registerPassword">Password</label>
          <input type="password" class="form-control" placeholder="Password" id="registerPassword">
        </div>
        <div class="mb-2">
          <label for="registerFirstName">First Name</label>
          <input type="text" class="form-control" placeholder="First name" id="registerFirstName">
        </div>
        <div class="mb-2">
          <label for="registerLastName">Last Name</label>
          <input type="text" class="form-control" placeholder="Last name" id="registerLastName">
        </div>
        <div class="mb-2">
          <label for="registerEmail">Email</label>
          <input type="email" class="form-control" placeholder="Email" id="registerEmail">
        </div>
        <div>
          <label for="registerPhoneNum">Phone Number</label>
          <input type="tel" class="form-control" placeholder="Phone Number" id="registerPhoneNum">
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-primary">Register</button>
        </div>
      </form>
      <img class="col-md-6" src="../../assets/bank_signup.jpg">
    </div>
  </div>
</div>
