<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large;">
    <a class="navbar-brand" href="#" style="font-size: x-large;">No Better Option Banking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Accounts</a> <!-- Different Bank Accounts -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a> <!-- Settings for changing personal info -->
        </li>
      </ul>
    </div>
  </div>
</nav>
