<!-- Account Login Section -->
<div *ngIf="!signingUp" style="display: flex; justify-content: space-between;">
    <!-- Left Side -->
    <div flex="33">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Two.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Three.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_One.jpg">
        <!-- <img style="display: block;" width="300" height="211" src="../../../assets/pictures/Happy_Family_Four.jpg"> -->
    </div>
    
    <!-- Middle -->
    <div flex="33" style="padding: 100px 40px 0px 40px;">
    
        <!-- Login Form -->
        <div style="display: flex; justify-content: center;">
            <form [formGroup]="loginData" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8px; padding: 20px; background-color: white; display: block;">
                <mat-form-field style="display: block;">
                    <mat-label style="font-family: Inter;">Username</mat-label>
                    <input formControlName="username" matInput>
                    <mat-error>Username is required</mat-error>
                    <mat-error>Username entered is incorrect</mat-error>
                </mat-form-field>
                <mat-form-field style="display: block;">
                    <mat-label style="font-family: Inter;">Password</mat-label>
                    <input formControlName="password" matInput>
                    <mat-error>Password is required</mat-error>
                    <mat-error>Password entered is incorrect</mat-error>
                </mat-form-field>
                <button class="linkButton">Forgot Password</button>
                <button mat-raised-button style="background-color: #76B7FF; color: white; font-size: 16px; margin-left: 20px; font-family: Inter;">Login</button>
            </form>

        </div>

        <div style="display: flex; justify-content: center; margin-top: 10px;">
            Do not have an account? <button class="linkButton" (click)="signingUp = !signingUp">Create Account</button>
        </div>
    
        <!-- Mission Statement Section -->
        <div>
            <div style="border-radius: 8px; border: 1px #9E9D9D solid; margin-top: 100px; padding: 10px 50px; background-color: white;">
                <h3 style="display: flex; justify-content: center; font-size: 24px; font-weight: bold; font-family: Inter;">Mission Statement</h3>
                <p style="display: flex; justify-content: center; font-size: 16px; font-weight: bold; font-family: Inter; text-align: center; padding-top: 20px;">
                    We are dedicated to delivering the best banking service we can<br> 
                    provide as we have been in the same shoes as you,<br> 
                    looking for the best bank to manage our finances,<br> 
                    but there is No Better Option then NBO Banking.</p>
            </div>
        </div>
    
    </div>
    
    <!-- Right Side -->
    <div flex="33" style="align-items: flex-end;">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Four.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Three.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Two.jpg">
        <!-- <img style="display: block;" width="300" height="211" src="../../../assets/pictures/Happy_Family_One.jpg"> -->
    </div>
</div>



<!-- Account Signup Section -->
<div *ngIf="signingUp" style="display: flex; justify-content: space-between;">
    <!-- Left Side -->
    <div flex="33">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Two.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Three.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_One.jpg">
        <!-- <img style="display: block;" width="300" height="211" src="../../../assets/pictures/Happy_Family_Four.jpg"> -->
    </div>
    
    <!-- Middle -->
    <div flex="33" style="padding: 50px 40px 0px 40px;">
    
        <!-- Signup Form -->
        <div style="display: flex; justify-content: center;">
            <form [formGroup]="signupData" style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 8px; padding: 20px; background-color: white;">
                <mat-form-field style="display: block;">
                    <mat-label style="font-family: Inter;">Username</mat-label>
                    <input formControlName="username" matInput>
                    <mat-error>Username field is required</mat-error>
                    <mat-error>Username entered is unavailable</mat-error>
                    <mat-error>Username must be at least 8 characters long</mat-error>
                </mat-form-field>
                <div style="display: flex;">
                    <mat-form-field style="display: block; margin-right: 10px;">
                        <mat-label style="font-family: Inter;">Password</mat-label>
                        <input formControlName="password" matInput>
                        <mat-error>Password field is required</mat-error>
                        <mat-error>Password must have at least one special character (ex. !, &#64;, #, $)</mat-error>
                        <mat-error>Password must have at least one number</mat-error>
                        <mat-error>Password must have at least one capital letter</mat-error>
                    </mat-form-field>
                    <mat-form-field style="display: block;">
                        <mat-label style="font-family: Inter;">Reenter Password</mat-label>
                        <input formControlName="reenterPassword" matInput>
                        <mat-error>Reenter Password field is required</mat-error>
                        <mat-error>Must match entered password</mat-error>
                    </mat-form-field>
                </div>
                <div style="display: flex;">
                    <mat-form-field style="display: block; margin-right: 10px;">
                        <mat-label style="font-family: Inter;">First Name</mat-label>
                        <input formControlName="firstName" matInput>
                        <mat-error>First Name field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="display: block; margin-right: 10px;">
                        <mat-label style="font-family: Inter;">Middle Name (optional)</mat-label>
                        <input formControlName="middleName" matInput>
                    </mat-form-field>
                    <mat-form-field style="display: block;">
                        <mat-label style="font-family: Inter;">Last Name</mat-label>
                        <input formControlName="lastName" matInput>
                        <mat-error>Last Name field is required</mat-error>
                    </mat-form-field>
                </div>
                <mat-form-field style="display: block;">
                    <mat-label style="font-family: Inter;">Email</mat-label>
                    <input formControlName="email" matInput>
                    <mat-error>Email field is required</mat-error>
                </mat-form-field>
                <div style="display: flex;">
                    <mat-form-field style="display: block; margin-right: 10px;">
                        <mat-label style="font-family: Inter;">Personal Phone</mat-label>
                        <input formControlName="personalPhone" matInput>
                        <mat-error>Personal Phone field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field style="display: block;">
                        <mat-label style="font-family: Inter;">Home Phone (optional)</mat-label>
                        <input formControlName="homePhone" matInput>
                    </mat-form-field>
                </div>
                <mat-form-field style="display: block;">
                    <mat-label style="font-family: Inter;">Home Address</mat-label>
                    <textarea formControlName="homeAddress" matInput></textarea>
                    <mat-error>Home Address field is required</mat-error>
                </mat-form-field>
                <section>
                    <label>Is the Mailing address the same as the home address?</label>
                    <mat-radio-group [(ngModel)]="isMailingAddressSame" formControlName="sameAddress">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                        <mat-error>Must select one option</mat-error>
                    </mat-radio-group>
                </section>
                <mat-form-field *ngIf="!isMailingAddressSame" style="display: block;">
                    <mat-label style="font-family: Inter;">Mailing Address</mat-label>
                    <textarea formControlName="mailAddress" matInput></textarea>
                    <mat-error>Mailing Address field is required</mat-error>
                </mat-form-field>
                <div style="display: flex; justify-content: flex-end;">
                    <button mat-raised-button style="background-color: #76B7FF; color: white; font-size: 16px; margin-left: 20px; font-family: Inter;" (click)="attemptToSignUp()">Sign Up</button>
                </div>
            </form>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 10px;">
            Do you have an account? <button class="linkButton" (click)="hideMailingAddress('two')">Login Here</button>
        </div>
    </div>
    
    <!-- Right Side -->
    <div flex="33" style="align-items: flex-end;">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Four.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Three.jpg">
        <img style="display: block;" width="360" height="281" src="../../../assets/pictures/Happy_Family_Two.jpg">
        <!-- <img style="display: block;" width="300" height="211" src="../../../assets/pictures/Happy_Family_One.jpg"> -->
    </div>
</div>