.linkButton {
    color: #0057FF; 
    border: transparent; 
    background-color: transparent; 
    cursor: pointer;
    font-size: 14px;
    font-family: "Inter" !important;
}

.linkButton:hover {
    color: #0042c7;
}